.git/
.github/
**/.vs/
**/.vscode/
**/.idea/
**/bin/
**/obj/
**/node_modules/
**/.nuxt/
**/.output/
**/dist/
**/venv/
**/.venv/
**/__pycache__/
infra/database/data/
infra/database/logs/
infra/database/pgadmin/
infra/database/redis_data/
*.db
*.log
